@import "tailwindcss";

:root {
    --bg: #1f2335;
    --text: #c0caf5;
    --accent: #c53b53;
    --button: #737aa2;
    --buton-down: #414868;
    --button-hover: #565f89;
    --bg-2: #24283b;
    --accent-2: #ff757f;
    --title: #7dcfff;
    --url: #c3e88d;
    --blue: #3d59a1;
    --orange: #ff9e64;
    --another: #394b70;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

.main-container {
    @apply flex flex-col items-center justify-center min-h-100 gap-y-4;
}

.logo-container {
    color: var(--accent);
    font-size: 7em;
    @apply drop-shadow-lg font-semibold;
    -webkit-text-stroke: 0.1rem white;
    text-shadow:
        0.3rem 0.3rem 5 black;
}

.button-container {
    @apply flex gap-x-4;
}

.btn {
    background-color: var(--button);
    border-left: solid white 0.2rem;
    border-top: solid white 0.2rem;
    border-right: solid var(--buton-down) 0.2rem;
    border-bottom: solid var(--buton-down) 0.2rem;
    box-shadow: 0 0 0 0.2rem black;
    @apply text-lg font-semibold drop-shadow-lg p-2;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

.btn:active {
    cursor: pointer;
    background-color: var(--buton-down);
    border-left: solid var(--button-down) 0.2rem;
    border-top: solid var(--button-down) 0.2rem;
    border-right: solid var(--button) 0.2rem;
    border-bottom: solid var(--button) 0.2rem;
    box-shadow: inset 0.2rem 0.2rem 0 black;
    transform: translate(2px, 2px);
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:active {
    cursor: default;
    background-color: var(--buton-down);
    border-left: solid var(--button-down) 0.2rem;
    border-top: solid var(--button-down) 0.2rem;
    border-right: solid var(--button) 0.2rem;
    border-bottom: solid var(--button) 0.2rem;
    box-shadow: inset 0.2rem 0.2rem 0 black;
    transform: translate(2px, 2px);
}

#search-bar {
    background-color: var(--text);
    color: var(--bg);
    @apply border border-gray-400 w-140 h-10 px-2;
}

#search-bar:disabled {
    background-color: var(--button);
}

footer {
    @apply mt-20 py-4 text-center text-sm w-full;
}

footer p {
    @apply text-sm;
}

footer a {
    color: var(--accent);
    @apply hover:underline;
}

#copyright {
    @apply text-xs mt-5;
}

.info {
    color: var(--orange);
    @apply text-base;
}